img {
  box-shadow: 2px 2px 8px rgba(0, 90, 255, 0.2);
}

/* .country {
  box-shadow: 2px 2px 8px rgba(0, 90, 255, 0.2);
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} */